

  /*añado espacio entre las secciones*/
  .home-section {
    margin-bottom: 5rem;
    margin-top: 5rem;
}
  .card-section {
    margin-bottom: 5rem;
    margin-top: 5rem;
}




  /* doy estilo al about */
  #about {
    background-color: #ebe991;
    padding: 50px 15px;
    margin-top: 30px;
    border-radius: 8px;
  
  }
  
  #about h2 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 20px; 
  }
  
  #about p {
    font-size: 1rem; 
    line-height: 1.6; 
    color: #495057;
  }
  
  #about a {
    color: #ff00d4;
    text-decoration: none;
  }
  
  #about a:hover {
    text-decoration: underline; 
  }
  
  /*scroll suave*/
  html {
    scroll-behavior: smooth;
  }
/*fijo el navbar*/
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }




/*enlaces del navbar al pasar el cursor*/
.navbar a:hover {
  background-color: #ebe991;
  border-radius: 5px; 
}

footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
}
